.header-wrapper {
    width: 100%;
    background: url(../../images/rp2/header-bg.png) repeat-x 0 0;
}

.header-wrapper .header {
    width: 1000px;
    margin: auto;
}

.header-wrapper .logo-link,
.header-wrapper .logo-link img {
    display: block;
    width: 165px;
    height: 30px;
}

.header-wrapper .logo-link {
    margin-top: 6px;
}

.header-wrapper .index,
.header-wrapper .sign-in {
    height: 42px;
    line-height: 42px;
    color: #707e91;
    font-size: 14px;
}

.header-wrapper .index:hover,
.header-wrapper .sign-in:hover {
    color: #f60;
}

.header-wrapper .sign-in {
    padding-left: 26px;
    margin-right: 33px;
    background: url(../../images/rp2/user-ic.png) no-repeat 0 50%;
}
