.login-form {
    position: fixed;
    z-index: 4;
    width: 370px;
    background: #FFF none repeat scroll 0% 0%;
    padding: 20px;
    overflow: visible;
    border-radius: 5px;
    top: 20%;

    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop));
    _margin-top: 7%;
}

.login-form .login-box .mt {
    display: block;
    width: 275px;
    overflow: visible;
    margin: 0 auto;
}

.login-form .login-box .mt div {
    height: 110px;
    background: transparent url("./images/lab_lg_icons.gif") no-repeat scroll 30px 0;
}

.login-form .login-box .mt h1 {
    height: 30px;
    line-height: 30px;
    top: -5px;
    float: left;
    color: #3B80E5;
    font-size: 18px;
}

.login-form .login-box .mt h1 > em {
    float: left;
    height: 30px;
    width: 25px;
    background: url('./images/lab_lg_icons.gif') repeat scroll -5px 5px;
    margin-right: 8px;
}

.login-form .login-box .mt h1 > span {
    float: left;
    height: 30px;
    line-height: 38px;
}

.login-form .login-box .mt .extra-r {
    float: right;
}

.login-form .login-box .mt .regist-link {
    color: #B61D1D;
    font-size: 14px;
}

.login-form .login-box .mt .regist-link a {
    color: #B61D1D;
}

/*.login-form .login-box .mt::after {*/
/*content: ".";*/
/*display: block;*/
/*height: 0px;*/
/*clear: both;*/
/*visibility: hidden;*/
/*}*/

.login-form .wrap div {
    height: 40px;
    background: transparent url("./images/lab_lg_icons.gif") no-repeat scroll 0px -135px;
}

.login-form .msg-error {
    background: #FFEBEB;
    color: #E4393C;
    border: 1px solid #E4393C;
    padding: 3px 10px 3px 40px;
    line-height: 18px;
    min-height: 18px;
    position: relative;
    zoom: 1;
}

.login-form .msg-error:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.login-form .msg-error b {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url("./images/lab_lg_icons.gif") no-repeat scroll -15px -202px;

}

.login-form .login-box .mc {
    overflow: visible;
}

.login-form .login-box .mc .form {
    width: 360px;
    margin-left: 6px;
    margin-top: 15px;
}

.form .item-fore1 {
    z-index: 6;
    /*+ margin-top : - 20 px;*/
}

.form .item-fore1, .form .item-fore2 {
    border: 1px solid #ccc;
    height: 38px;
    width: 358px;
    border-radius: 5px;
}

.form .item {
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.form .item span {
    margin-left: 10px;
}

.form .item .name-label {
    background-position: 0 0;
}

.form .item .login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 38px;
    left: 5px;
    height: 38px;
    background: transparent url("./images/lab_lg_icons.gif") no-repeat scroll -10px -233px;
}

.form label {
    float: none;
}

.form .itxt {
    border: 0;
    padding: 0 15px 0 45px;
    width: 280px;
    margin-left: 5px;
    float: none;
    overflow: hidden;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
}

.form .item-fore2 {
    height: 38px;
    /*+ margin-bottom : 15 px;*/
}

.form .capslock {
    display: none;
}

.form .item-fore3 {
    overflow: hidden;
    z-index: 5;
    margin-bottom: 0;
    zoom: 1;
}

.form .item-fore3:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.login-form .login-box .safe {
    position: relative;
    color: #666;
    height: 18px;
    line-height: 15px;
    zoom: 1;
}

.login-form .login-box .safe span.rem {
    margin-left: 10px;
}

.login-form .login-box .safe span.forget-pw-safe {
    margin-right: 10px;
}

.login-form .login-box .safe:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.login-form .login-box .safe .forget-pw-safe {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    /*+ top : 7 px*/
}

.form .jdcheckbox, .form .jdradio {
    float: none;
    vertical-align: middle;
    margin: 0 3px 0 0;
    padding: 0;
}

.form label {
    float: none;
}

.form .item .pwd-label {
    background-position: -10px -282px;
}

.login-form .login-box .login-btn {
    margin: 0 auto;
    height: 33px;
    position: relative;
}

.login-form .login-box .login-btn .btn-img {
    border: 1px solid #3B80E5;
    display: block;
    background: #3B80E5 none repeat scroll 0% 0%;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.overlay-mask {
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.15;
    filter: alpha(opacity=15);
}

.login-form .btn_close {
    width: 42px;
    height: 42px;
    top: 0;
    right: 15px;
    position: absolute;
    cursor: pointer;
    background: transparent url("./images/lab_lg_icons.gif") no-repeat scroll -80px -190px;
}

.login-form .wrap {
    min-height: 31px;
    height: 31px !important;
    margin: 4px 0 0;
}

.login-form .msg-wrap {
    min-height: 31px;
    height: 31px !important;
    margin: 4px 0 0;
}

.login-form .msg-wrap div {
    height: 20px;
}

.form .item-focus {
    border: 1px solid #3AA2EA;
}

.form .item-error {
    border: 1px solid #E4393C;
}

.form .item-focus {
    border: 1px solid #3AA2EA;
}

.form .item-fore1 .clear-btn, .form .item-fore2 .clear-btn {
    position: absolute;
    z-index: 20;
    right: 12px;
    top: 12px;
    width: 14px;
    height: 14px;
    background: transparent url("./images/uc-login-icons.png") no-repeat scroll -45px -173px;
    cursor: pointer;
    display: none;
}

.form input:-webkit-autofill, .form textarea:-webkit-autofill, .form select:-webkit-autofill {
    background-color: #fff;
}

/* Remove IE's “clear field” X button
input:-ms-clear, input:-ms-reveal {
    display: none;
}
*/